.body{
  display: flex;
  width: 100%;
}

.flex-body{
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  flex-flow: row wrap;
  justify-content: space-around ;

}

.metade1{
  padding-top: 50px;
  height: 500px;
  background-color: cornsilk;
  text-align: center;
  width: 50%;
  align-self:  flex-end;
}
.metade2{
  padding-top: 50px;
  height: 500px;
  text-align: center;
  align-self:   flex-start;
  width: 50%;
  background-color: rgb(127, 127, 133);
}